:root {
   
    
   
    --primary-navy: #1e3a8a;

   
    --primary-blue: #2563eb;
    --hover-blue: #1e40af;

   
    --bg-light: #f8fbff;
    --bg-white: #ffffff;
    --bg-soft: #eff6ff; 

   
    --text-dark: #1a202c;
    --text-grey: #4a5568;
    --text-light: #dbeafe;

   
    --border-color: #e2e8f0;
    --border-blue: #eff6ff;
    --shadow-soft: 0 4px 12px rgba(30, 58, 138, 0.05);
    
   
    --container-width: 1280px;
    --font-main: 'Inter', 'Segoe UI', sans-serif;
    --radius-card: 15px;
    --radius-btn: 50px;
}