RewriteEngine On
RewriteBase /SistemInformasiSumberDaya-Kelompok2/public/

# If the request is a real file or directory, don't rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all requests to index.php
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]